# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
.env.*.local

# Logs
logs/
*.log
logs/**/*.log

# Compiled output
dist/
build/

# Coverage
coverage/
*.lcov

# Editor folders
.vscode/
.idea/
.DS_Store

# TypeORM generated
*.sqlite
*.db
typeorm.log

# OS-specific
Thumbs.db

# Test
test-results/
jest-results.json